@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin:0 auto;
    padding: 0;
    font-family: sans-serif;
    background-color:black;
    background-repeat: no-repeat;
}
.container{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.form-input{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}
.form-input i{
    width: 26px;
    float: left;
    text-align: center;
}
.form-input input{
    border:none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width:80px;
    float: left;
    margin: 0 10px;
}